SUPERSAVE_GEMINI_ENABLED=true
GEMINI_API_KEY=AIzaSyD9yYgpulecXNK_BehDmUqi1Jp1zF1vZqc
GEMINI_MODEL=gemini-2.5-flash

PUBLIC_DATA_ENABLED=true
PUBLIC_DATA_SERVICE_KEY=161b0d534ec0108a4b459eb23600de42fb49273cf668a3661105809570ba3778
KAKAO_REST_API_KEY=d0f89d83af237407e329bbec3093204b

DB_URL=jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.YOUR_PROJECT_REF
DB_PASSWORD=YOUR_SUPABASE_DB_PASSWORD
